# comentário.
.idea/
.vscode/

# comentário.
composer.lock
package-lock.json

# comentário.
storage/
node_modules/
vendor/

# comentário.
Homestead.yaml
Homestead.json
.env

# comentário.
*.iml
*.log
